 .mws-form-message {
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #d2d2d2;
    padding: 15px 8px 15px 45px;
    position: relative;
    vertical-align: middle;
    background-color: #f8f8f8;
    background-position: 12px 12px;
    background-repeat: no-repeat;
    margin-bottom: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
/*
.mws-form-message p, 
.mws-form-message ul, 
.mws-form-message ol {
    margin: 0;
}


.mws-form-message ul li, 
.mws-form-message ol li {
    list-style-position: inside;
    list-style-type: inherit;
    margin: 0;
} */

.mws-form-message.error {
    background-color: #ffcbca;
    background-image: url(../images/core/message-error.png);
    border-color: #eb979b;
    color: #9b4449;
}

/* .mws-form-message.success {
    background-color: #e1f1c0;
    background-image: url(../images/core/message-success.png);
    border-color: #b5d56d;
    color: #62a426;
}

.mws-form-message.warning {
    background-color: #fef0b1;
    background-image: url(../images/core/message-warning.png);
    border-color: #ddca76;
    color: #a98b15;
}

.mws-form-message.info {
    background-color: #bce5f7;
    background-image: url(../images/core/message-info.png);
    border-color: #a6d3e8;
    color: #11689E;
}
.kg_uc_textbox{
    padding:7px;
    height: 22px;
    padding: 7px;
    line-height: 22px;
    width: 275px;
    color: #7b7b7b;
    outline: none;
    border: 1px solid #f3f3f3;
    background: #f3f3f3;
    transition: 0.2s;} */